*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar {
    background-color: black;
}
.navbar-brand{
    width: 4%;
}
.navbar-toggler-icon{
    background-color: white;
}
#logo{
    width: 100%;
}
#logo2{
    width: 20%;
}
#ul1{
    margin-left: 10%;
}
.menu{
    overflow: hidden;
}
.n1{
    color: white;
    text-decoration: none;
}
.btn{
    margin-right: 3%;
}
.dropdown-item{
    color: white !important;
}
.dropdown-item:hover{
    color: black !important;

}
/* .c:hover{
  color: black;
} */
.el1c a{
    text-decoration: none;
    color: whitesmoke;
}
.el1{
    background-image:linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.0)),url(images/p2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98vh;
    padding-top: 5%;
    font-size: 20px;
}
#f1{
    width: 13%;  
}
#f2{
    width: 11%;
}

.btn-outline-success{
    border-color: white !important;
    color: white !important;
}
  
.el1b{
    color: white;
}
.el1c a{
    border: 2px solid;
    padding: 20px 40px;
    margin-right: 1%;
    border-radius: 5px;    
}
.el1a, .el1b, .el1c{
    margin: 3% 5%;
}
.el1c a:hover{
   background-color: white;
   color: black;
}

.el2{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(images/p5.jpg);
    background-size: cover;
    height: 120vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
}
.el2a img{
    height: 115vh; 
    padding-top: 15%;
}
.el3a{
   padding-left: 10%;
   padding-top: 10%;
}
.el4a img{
    height: 55vh;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
}
.el5b img{
    width: 100%;
    height: 55vh ;
}
.el6a img{
    width: 100%;
    height: 55vh;
}
.el7b img{
    width: 100%; 
    height: 55vh;
}
.el8a img{
    width: 100%; 
    height: 55vh;
}
.el9b img{
    width: 100%; 
    height: 55vh;
}
.el10a img{
    width: 100%; 
    height: 55vh;
}
.el2b,.el4b,.el5a,.el6b,.el7a,.el8b,.el9a,.el10b,.el11a,.el11b{
    text-align: left;
    font-size: 20px;
    padding-top: 25% ;
    font-family:'Chalet Comprimé 1960', sans-serif;
}
.el2b img,.el3a img{
    width: 20%;
}
.el2b p,.el3a p,.el4b p,.el5a p,.el6b p,.el7a p,.el8b p,.el9a p,.el10b p,.el11a,.el11b{
    line-height: 1.7;
}
.el3{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(images/p7.jpg);
    background-size: cover;
    height: 110vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    font-size: 20px;
}
.el3b img{
    width: 100%;
    height: 99vh;
}
.el4,.el5,.el6,.el7,.el8,.el9,.el10{
    background-image: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,1.8));
    background-size: cover;
    height: 88vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
}
.el4a, .el5b, .el6a, .el7b, .el8a, .el9b, .el10a{
    border: 2px solid black; 
    height: 55vh;
    margin: 15% 10% 0% 10%;
    overflow: hidden;
    
}
.el4a img:hover, .el5b img:hover, .el6a img:hover, .el7b img:hover, .el8a img:hover, .el9b img:hover, .el10a img:hover{
    transform: scale(1.3);
    transition-duration: 5s;
}
.el5a,.el7a,.el9a,.el10b{
    padding-left: 10%;
}
.el11{
    background-image: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,1.8));
    background-size: cover;
    height: 150vh;
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    padding: 0px 70px;
    gap: 20px;
}
.el11a,.el11b{
    border: 2px solid rgb(44, 41, 41);
    box-shadow: 20px 20px 160px black;
    padding-top: 0px;
}
#p1,#p2{
    width: 100%;
    height: 80vh;
}
#b1{
    width: 35%;
    margin: 20px 0px;
}
#b2{
    width: 75%;
    margin: 20px 0px;
}
#q{
    border: 2px solid;
    border-radius: 5px;
    width: 63%;
    padding: 10px 20px 10px 20px;
    background-color: rgb(33, 31, 31);
}
.h{
    background-image: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,1.8));
    color: white;
    font-family:'Chalet Comprimé 1960', sans-serif;
    padding: 0px 0px 20px 70px;

}
.el11aa a,.el11bb a{
    text-decoration: none;
    border: 2px solid white;
    color: aliceblue;
    padding: 25px 35% 25px 35%;
}
.el11aa,.el11bb{
    padding-left: 10%;
}
.el11 a:hover{
    background-color: white;
    color: black;
}
.el12 p{
    border: 2px solid rgb(49, 48, 48);
    background-color: rgb(28, 27, 27);
    padding: 30px;
    text-align: center;
    margin: 0px 10%;
    font-size: 25px;
    
}
.el12{
    width: 100%;
    height: 98vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,1.8));
    background-size: cover;
    color: white;

}
.el12a{
    border: 2px solid rgb(49, 48, 48);
    background-color: rgb(20, 19, 19);
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 20% 40% 0% 40%;
    font-size: 10px;
}
.el12a img{
    width: 30%;
}
footer{
    border: 2px solid rgb(41, 40, 40);
    background-color: rgb(14, 13, 13);
    height: 70vh;
    
}
.f1{
    display: flex;
    justify-content: space-between;
}
.f1 a{
    color: whitesmoke;
    text-decoration: none;
    padding-right: 10px;
    margin-left: 30px;
    font-size: 30px;
}
.f1 a:hover{
    color: orange;
}
.f2 a{
    color: whitesmoke;
    text-decoration: none;
    padding-right: 10px;
    margin-left: 30px;
    display: flex;
    margin: 30px;
}
.f2 a:hover{
    color: orange;
}
.f2{
    display: flex;
    justify-content: space-between;
}
.f21{
    display: flex;
    margin-top: 30px;
}
.f3{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 30px;
}
.f32{
    display: flex;
}
.f32 div{
    padding-left: 30px;
}


.text {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.text.visible {
    opacity: 1;
}



@media (max-width: 480px) {
    
    .el1c a{
        border: 2px solid;
        padding: 10px 10px;
        margin-right: 1%;
        border-radius: 5px;
        text-decoration: none;
        color: whitesmoke;
        font-size: 50%;
    }
    .el1{
        background-image:linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.0)),url(images/p2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 98vh;
        padding-top: 5%;
        font-size: 20px;
    }
    #logo{
        width: 35px;
        height: 35px;
    }
    #logo2{
        width: 39%;
        height: 32px;
    }
    #hi{
        display: none;
    }
    #f1{
        width: 40%;  
    }
    #f2{
        width: 30%;
    }
    .el1b{
        color: white;
    }
    .el1a, .el1b, .el1c{
        margin: 15% 10%;
    }
    .el1c a:hover{
       background-color: white;
       color: black;
    }    
    .el2,.el3{
        background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url(images/p5.jpg);
        background-size: cover;
        height: 137vh;
        display: grid;
        grid-template-columns: 100%;
        color: white;
    }
    .el2a img{
        height: 53vh;
        padding-top: 7%;
    }
    .el3a,.el5a,.el7a,.el9a{
        padding-left: 3%;
        padding-top: 30%;
    }
    .el3b{
        height: 40vh;
    }
    .el3b img{
        height: 46vh;
        padding-left: 10%;
    }
    .el4a img{
        height: 55vh;
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
    }
    .el5b img{
        width: 100%;
        height: 31vh;
    }
    .el6a img{
        width: 100%;
        height: 55vh;
    }
    .el7b img{
        width: 100%; 
        height: 55vh;
    }
    .el8a img{
        width: 100%; 
        height: 55vh;
    }
    .el9b img{
        width: 100%; 
        height: 55vh;
    }
    .el10a img{
        width: 100%; 
        height: 55vh;
    }
    .el2b,.el3a,.el4b,.el5a,.el6b,.el7a,.el8b,.el9a,.el10b,.el11a,.el11b{
        text-align: center;
        font-size: 11px;
        padding-top: 5%;
        font-family: 'Chalet Comprimé 1960', sans-serif;
    }
    .el2b img,.el3a img{
        width: 20%;
    }
    .el2b p,.el3a p,.el4b p,.el5a p,.el6b p,.el7a p,.el8b p,.el9a p,.el10b p,.el11a,.el11b{
        line-height: 1.7;
    }
    .el4,.el5,.el6,.el7,.el8,.el9,.el10{
        background-image: linear-gradient(rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 1.8));
        background-size: cover;
        height: 88vh;
        display: grid;
        grid-template-columns: 100%;
        color: white;
    }
    .el4a, .el5b, .el6a, .el7b, .el8a, .el9b, .el10a{
        border: 2px solid black;
        height: 32vh;
        margin: 15% 10% 0% 10%;
        overflow: hidden;
        
    }
    .el4a img:hover, .el5b img:hover, .el6a img:hover, .el7b img:hover, .el8a img:hover, .el9b img:hover, .el10a img:hover{
        transform: scale(1.3);
        transition-duration: 5s;
    }
    .el5a,.el7a,.el9a,.el10b{
        padding-top: 10%;
    }
    .el11{
        background-image: linear-gradient(rgba(0, 0, 0, 1.8), rgba(0, 0, 0, 1.8));
        background-size: cover;
        height: 160vh;
        display: grid;
        grid-template-columns: 100%;
        color: white;
        padding: 0px;
        gap: 20px;
    }
    .el11a,.el11b{
        border: 2px solid rgb(44, 41, 41);
        box-shadow: 20px 20px 160px black;
        padding-top: 0px;
        height: 480px;
    }
    #p1,#p2{
        width: 100%;
        height: 22vh;
    }
    #b1{
        width: 35%;
        margin: 10px 0px;
    }
    #b2{
        width: 75%;
        margin: 20px 0px;
    }
    #q{
        border: 2px solid;
        border-radius: 5px;
        width: 90%;
        padding: 10px 20p;
        background-color: rgb(33, 31, 31);
    }
    .h{
        background-image: linear-gradient(rgba(0,0,0,1.8),rgba(0,0,0,1.8));
        color: white;
        font-family:'Chalet Comprimé 1960', sans-serif;
        padding: 0px 0px 20px 70px;
    
    }
    .el11aa a,.el11bb a{
        text-decoration: none;
        border: 2px solid white;
        color: aliceblue;
        padding: 20px 10%;
    }
    
    .el11aa,.el11bb{
        padding-left: 10%;
    }
    .el11 a:hover{
        background-color: white;
        color: black;
    }
    .el12 p{
        border: 2px solid rgb(49, 48, 48);
        background-color: rgb(28, 27, 27);
        padding: 30px;
        text-align: center;
        margin: 0px 5%;
        font-size: 20px;
        
    }
    .el12{
        width: 100%;
        height: 85vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,1.8));
        background-size: cover;
        color: white;
    
    }
    .el12a{
        border: 2px solid rgb(49, 48, 48);
        background-color: rgb(20, 19, 19);
        display: flex;
        gap: 15px;
        padding: 13px;
        margin: 20% 30% 0% 30%;
        font-size: 3px;
    }
    .el12a img{
        width: 30%;
    }
    .login2{
        padding-top: 20px;
    }
    .btn-outline-success {
        color: #198754;
        border-color: none !important;
    }
    footer{
        border: 2px solid rgb(41, 40, 40);
        background-color: rgb(14, 13, 13);
        height: 40vh;
        
    }
    .f1{
        display: flex;
        justify-content: space-between;
    }
    .f1 a{
        color: whitesmoke;
        text-decoration: none;
        padding-right: 5px;
        margin-left: 5px;
        font-size: 7px;
    }
    .f1 a:hover{
        color: orange;
    }
    .f2 a{
        color: whitesmoke;
        text-decoration: none;
        padding-right: 7px;
        font-size: 50%;
        display: flex;
        margin: 5px;
    }
    .f2 a:hover{
        color: orange;
    }
    .f2{
        display: flex;
        justify-content: space-between;
    }
    .f21{
        display: flex;
        margin-top: 30px;
    }
    .f3{
        display: flex;
        justify-content: space-between;
        color: white;
        margin: 5px;
        font-size: 50%;
    }
    .f32{
        display: flex;
    }
    .f32 div{
        padding-left: 30px;
    }
}


